<div class="jumbotron mt-5">
  <h1 class="display-4"><%=@task.title%></h1>
  <p class="lead">Description: <%=@task.description%></p>
  <hr class="my-4">
  <p><%=@task.deadline.strftime("%m/%d/%Y")%></p>
  <p class="lead">
  
  </p>
</div>