/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 //$body-bg: #89BDBB;
 @import "../node_modules/bootstrap/scss/bootstrap";

 html,
 body {
     background-image: url('welcome_bg.jpg');
     background-size: cover;
 }

 hr#navbar-hr{
  padding: 0;
  border: none;
  border-top: 5px double #333;
  color: #333;
  text-align: center;
 }


 hr#navbar-hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2.5em;
  padding: 0 0.25em;
  background: rgba(118,118,120, 0.3);
}

.category-header-container{
  text-align:center;
}

.container{
  font-family: 'Questrial', sans-serif !important;
}

.navbar{
  font-family: 'Questrial', sans-serif !important;
  background: none !important;
}

.navbar a{
  color:white!important;
}

a:hover,
a:focus {
    color: #888888 !important; 
    outline: 0 !important;
}


.btn-logout{
  background: linear-gradient(to bottom, rgba(104,104,104,0.8),rgba(192,192,192,0.5));
  border:2px solid #f0f0f0;
  border-color:#f0f0f0;
  border-radius: 290px;
  padding: 5px 30px;
  color:white;
  font-size: 20px;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
.btn-logout:hover{
  background-color: red;
  color: white !important;
}





