// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

#welcome{
  text-align: center;
  color:white;

}

.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-content{
 margin-top:100px;
}

.cursive {
  font-size: 80px;
  font-family: 'Dancing Script', cursive;
  text-transform: none;
}


.btn.btn-light {
  background-color: transparent;
  border:2px solid #f0f0f0;
  border-color:#f0f0f0;
  border-radius: 290px;
  padding: 15px 30px;
  color:white;
  font-size: 20px;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
